.bgroom {
  #sidebar {
    background-color: $control-panel-color;
    width: $sidebar-size;
    text-align: center;
    border-right: 1px solid $border-color;
    .sidebar-item {
      border-radius:0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      .fa-plus {
        color: green;
      }
      .fa-times {
        color: red;
      }
      .fa-users {
        color: #3597d8;
      }
      .fa-home {
        color: #fca604;
      }
    }

    .sidebar-item:hover {
      background-color: LightGrey;
    }
  }

  .board-list, .page-title {
    margin-left: $sidebar-size;
  }

  .page-title {
    padding: 1rem 0;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Signika', sans-serif;
    color: #3A3335;
  }

  .add-field {
    float: right;
  }

  .board-list {
    .button {
      background-color: #FF773D;
      margin-right: 1rem;
      color: #3A3335;
    }
    .row {
      margin-left: 2rem;
      max-width: 100%;
      .board {
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        border: 0.1rem solid #F55536;
        float: left;
        color: #3A3335;
        background-color: #FABC3C;
        .fa-plus {
          color: #45050C;
          float: right;
          margin-bottom: 1rem;
          margin-right: 1.5rem;
        }
        .board-header {
          margin-top: 0.5rem;
          .board-name {
            text-align: center;
          }
        }

        .board-field {
          float: left;
          p {
            font-size: 1rem;
            text-align: center;
            padding-top: 0.35rem;
            padding-bottom: 0.35rem;
            background-color: white;
          }
        }
      }
    }
  }
}
